.sidebar-content{
    display: flex;
    flex-direction: column;
    gap:20px;
    text-align:left;
    font-size: 15px;
    /* padding-left: 80px; */
    font-family: 'Poppins', sans-serif;
}

.login{
    background-color: white;
    padding:  5px;
    color: black;
    width: 70px;
    border: 1px solid black;
    border-radius: 5px;
}

.signUp{
    background-color: white;
    padding: 5px;
    color: black;
    width: 70px;
}

.Auth{
    display: flex;
    flex-direction: column;
    margin-top: 180px;
    gap: 20px;
}

.Navbar{
    color: #F2F2F2;
    display: flex;
    flex-direction: column;
    gap:20px;
    text-align:left;
    font-size: 15px;
    padding-left: 80px;
    font-family: 'Poppins', sans-serif;
}

.guides{
    background-color: white;
    padding: 5px;
    color: black;
    width: 70px;
}