.sidebar-content{
    display: flex;
    flex-direction: column;
    gap:20px;
    text-align:left;
    font-size: 15px;
    /* padding-left: 80px; */

}

.login{
    background-color: white;
    padding:  5px;
    color: black;
    width: 70px;
    border: 1px solid black;
    border-radius: 5px;
}

.signUp{
    background-color: white;
    padding: 5px;
    color: black;
    width: 70px;
    border: 1px solid black;
    border-radius: 5px;
}

.guides{
    background-color: white;
    padding: 5px;
    color: black;
    width: 70px;
    border: 1px solid black;
    border-radius: 5px;
}


.Auth{
    display: flex;
    flex-direction: column;
    margin-top: 180px;
    gap: 20px;
}

.Navbar{
    color: #F2F2F2;
    display: flex;
    flex-direction: column;
    gap:20px;
    text-align:left;
    font-size: 15px;
    padding-left: 80px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
}


.Home{
    display: flex;
    align-items: center;
    gap: 20px;
}

.Assets{
    display: flex;
    align-items: center;
    gap: 20px;
}

.Transactions{
    display: flex;
    align-items: center;
    gap: 20px;
}

.Support{
    display: flex;
    align-items: center;
    gap: 20px;
}

.entsidebar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
